<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nga-navbar></nga-navbar>
<div class="container">
<div class="row carousel-holder ">
  <div class="col-md-3">
    <nga-search></nga-search>
  </div>
  <div class="col-md-9">
  <nga-carousel></nga-carousel>
  </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
  <!-- <div class="container">
  <div class="row">
    
    <div class="col-md-9">

    </div>
  </div>
</div> -->
<nga-footer></nga-footer>